# Dependências
node_modules/
**/node_modules/

# Variáveis de ambiente (NUNCA sobe pro git)
.env
**/.env

# Build do frontend
frontend/dist/
frontend/build/

# Prisma
backend/src/prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
